<div class="card">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="assets/images/laptop.jpg">
    <!-- <ul class="list-inline text-center member-icons animate">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/productdetails/{{property.Id}}"><i class="fas fa-expand"></i></button>
      </li>

    </ul> -->
  </div>
    <div class="card-body p-2">
      <!-- <h1>hello</h1> -->
    <h1>{{property.name}}</h1>
    <h2>{{property.code}}</h2>
    <h3>{{property.unitPrice}}</h3>
    <h3>{{property.quantityInStock}}</h3>
    </div>
  </div>


